* {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    width: 300px;
    min-height: 300px;
    background: grey;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.todo .header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.todo .body {
    width: 100%;
    margin-bottom: 20px; 
}

.todo .body .todo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo .header input {
    width: 100%;
    margin-right: 10px;
}

.todo .body .todo-item span {
    width: 80%;
}

.todo .body .todo-item span.checked {
    text-decoration: line-through;
    color: green;
}

.todo .footer .error {
    color: blue;
    font-size: 20px;
}